/* ======  Result page CSS variables  ====== */
#bodyMainDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
#mainLeftDiv {
  display: inline-flex;
  flex-direction: column;
}
#summaryStatsDiv, #resultsNormalizationDiv {
  width: 250px;
}
#selectionDiv, #clustersListDiv {
  width: 400px;
}

/* Export pane settings: */
#exportNamesPane {
  margin-top: -36px;
  z-index: 5;
}
#exportNamesToggleDiv {
  margin: 10px 10px 5px 10px;
  width: calc(100% - 20px);
  flex-shrink: 0;
}
#exportNamesMainDiv {
  display: inline-flex;
  position: relative;
  padding: 5px 0px 0px 0px;
}
#exportNamesLeftColumn, #exportNamesRightColumn {
  display: inline-flex;
  flex-direction: column;
  padding: 0px 5px;
}
#exportNamesLeftColumn {
  padding-left: 10px;
}
#exportNamesRightColumn {
  padding-right: 10px;
}
#exportNamesLeftColumn > *, #exportNamesRightColumn > * {
  flex-shrink: 0;
}
#exportNamesText {
  width: 370px;
  min-height: 140px;
  max-height: 300px;
  resize: none;
  overflow: auto;
  margin-bottom: 10px;
  transition: all .25s;
}
#exportDelimiterLabel {
  margin: 0px;
}
#exportDelimiterSelect {
  margin: 0px 0px 10px 0px;
}
#exportNamesCopyButton, #exportNamesSaveButton {
  margin: 10px 0px;
}

/* Histogram settings: */
#histoSvg {
  height: 170px;
  margin: 5px 0px 0px 0px;
}
#histo-ind-rect {
  stroke: var(--highlight-colour);
  stroke-width: 1px;
  fill: var(--dark-background-colour);
  width: 33px;
  height: 20px;
}
#histo-ind-text {
  font: 12px sans-serif;
  fill: white;
}
#histoSlider {
  margin: 0px 20px 5px 18px;
}
#histoSliderHandle {
  width: 3em;
  height: 1.5em;
  top: 50%;
  margin-top: -0.75em;
  margin-left: -1.5em;
  text-align: center;
  line-height: 1.6em;
  font-size: 12px;
}
#histoButtonsDiv {
  --button-width: 55px;
  --button-height: 25px;
  position: relative;
  align-items: center;
}
#leftSliderButton, #middleSliderButton, #clearSliderButton {
  position: relative;
  width: var(--button-width);
  height: var(--button-height);
  line-height: 9px;
  font-size: 10px;
}
#numSliderSpan {
  position: absolute;
  top: calc(var(--button-height) / 2 - 0.375em);
  left: calc(var(--button-width) + 10px);
  font-size: 14px;
}
#middleSliderButton {
  width: 65px;
}
#clearSliderButton {
  font-size: 12px;
}
#middleSliderButtonSpan {
  position: relative;
  left: 5px;
}
#midLeftArrow {
  position: absolute;
  top: calc(var(--button-height) / 2 - 0.55em);
  left: 3px;
  opacity: 1;
}
#midRightArrow {
  position: absolute;
  top: calc(var(--button-height) / 2 - 0.55em);
  right: 3px;
  opacity: 0;
}

/* Table settings: */
.results-table {
  text-align: center;
  width: 100%;
}
.results-table > thead {
  vertical-align: bottom;
}
.results-table td {
  padding: 2px 23px;
}
.results-table td:nth-child(1) {
  text-align: right;
  padding: 1px 5px 1px 1px;
}
