<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Navargator input page">
    <meta name="author" content="Dave Curran">
    <title>Navargator input page</title>
    <script>
      var is_IE = /MSIE|Trident|Edge\//.test(window.navigator.userAgent);
      if (is_IE) {
        alert("You appear to be using Internet Explorer or Edge. Unfortunately Navargator doesn't work well with either, so you'll probably have to try with another browser.\n\nIf you're running the command line version of the software, include the XXX flag to prevent the automatic use of your default browser.");
      }
    </script>
    <script src="static/libs/jquery-1.11.1.min.js"></script>
    <script src="static/libs/jquery-ui.min.js"></script>
    <script src="static/libs/raphael-min.js"></script>
    <script src="static/libs/jsphylosvg-DC.js"></script>
    <script src="static/libs/svg-pan-zoom.min.js"></script>
    <script src="static/libs/d3.min.js"></script>
    <script src="static/libs/jscolor.js"></script>
    <link rel="stylesheet" href="static/libs/jquery-ui.min.css">
    <link rel="stylesheet" href="static/libs/jquery-ui.theme.min.css">
    <script>
      var timestamp = +new Date;
      var core_css_url = 'static/css/core.css?v=' + timestamp;
      var core_tree_css_url = 'static/css/core_tree.css?v=' + timestamp;
      var page_css_url = 'static/css/input.css?v=' + timestamp;
      var icon_url = 'static/images/favicon.ico?v=' + timestamp;
      $('<link>')
        .appendTo('head')
        .attr({type : 'text/css', rel : 'stylesheet'})
        .attr('href', core_css_url);
      $('<link>')
        .appendTo('head')
        .attr({type : 'text/css', rel : 'stylesheet'})
        .attr('href', core_tree_css_url);
      $('<link>')
        .appendTo('head')
        .attr({type : 'text/css', rel : 'stylesheet'})
        .attr('href', page_css_url);
      $('<link>')
        .appendTo('head')
        .attr({rel : 'icon'})
        .attr('href', icon_url);
    </script>
  </head>
  <body>
    <div id="errorDialog" title="Navargator error">
      <p id="errorDialogText">Error loading page resources.</p>
    </div>

    <div id="pageDiv">
      <div id="headerDiv">
        <div id="headerInnerDiv">
          <img id="headerLogoImg" src="static/images/logo.png" alt="Navigator alligator logo" width="136" height="120">
          <h1>Navargator</h1>
        </div>
      </div>

      <div id="bodyMainDiv">
        <div id="mainLeftDiv">
          <div id="inputOptionsDiv" class="style-box">
            <h2 id="loadInputHeader" class="collapsible-header">Load input file</h2>
            <div id="loadInputPanel" class="collapsible-panel">
              <form id="uploadFilesForm" method="post" enctype="multipart/form-data">
                <input id="uploadFileInput" name="upload-file" type="file">
              </form>
              <div class="horizontal-row-div">
                <select id="uploadFileTypeSelect">
                  <option selected value="auto">Auto-detect format</option>
                  <option value="nvrgtr">Navargator file</option>
                  <option value="newick">Newick tree</option>
                  <option value="nexus">NEXUS tree</option>
                  <option value="phyloxml">PhyloXML tree</option>
                  <option value="nexml">NeXML tree</option>
                </select>
                <button id="uploadFileButton" class="jq-ui-button"><b>Load file</b></button>
              </div>
            </div>

            <h2 class="collapsible-header">Tree manipulations<div id="treeOptsHelp" class="help-button"></div></h2>
            <div id="treeManipulationsPanel" class="collapsible-panel">
              <div class="labeled-group-div">
                <label class="labeled-group-label">Root tree by</label>
                <div class="horizontal-row-div">
                  <button id="rootMidpointButton" class="jq-ui-button">Midpoint</button>
                  <button id="rootSelectionButton" class="jq-ui-button">Selection</button>
                </div>
              </div>
              <div class="labeled-group-div">
                <label class="labeled-group-label">Modify tree</label>
                <button id="reorderNodesButton" class="jq-ui-button">Re-order nodes</button>
                <div class="horizontal-row-div">
                  <button id="truncateNamesButton" class="jq-ui-button">Truncate names:</button>
                  <input id="truncateNamesSpinner" class="param-spinner" />
                </div>
              </div>
            </div>

            <hr>
            <div class="horizontal-row-div">
              <button id="saveSessionButton" class="jq-ui-button" title="Save the current session, which includes visual features as well as clustering results.">Save session</button>
              <label id="sessionIncludeDistancesLabel" class="nvrgtr-checkbox-outer" title="Including the distance matrix in a session file speeds up loading times but can dramatically increase the file size, especially for trees with over 500 leaves (90MB file for a tree with 4,000 leaves).">
                <input id="sessionIncludeDistancesCheckbox" type="checkbox" />
                <label class="nvrgtr-checkbox-label" for="sessionIncludeDistancesCheckbox">Include distances</label>
              </label>
            </div>
          </div>

          <div id="coreOptionsDiv" class="style-box">
            <h2 class="collapsible-header">Display options<div id="displayOptsHelp" class="help-button"></div></h2>
            <div id="displayOptionsPanel" class="collapsible-panel">
							<div class="labeled-group-div">
                <label class="labeled-group-label">Tree sizes</label>
								<table class="display-options-table"><tbody>
									<tr>
										<td><label class="display-options-label">Total width</label></td>
										<td><input id="displayTreeWidthSpinner" class="display-opt-spinner" /></td>
										<td><label class="display-options-label">Font</label></td>
										<td><input id="displayTreeFontSizeSpinner" class="display-opt-spinner" /></td>
									</tr>
									<tr>
										<td><label class="display-options-label">Big node</label></td>
										<td><input id="displayTreeBigNodeSpinner" class="display-opt-spinner" /></td>
										<td><label class="display-options-label">Small node</label></td>
										<td><input id="displayTreeSmallNodeSpinner" class="display-opt-spinner" /></td>
									</tr>
									<tr>
										<td><label class="display-options-label">Graph</label></td>
										<td><input id="displayTreeBarChartSizeSpinner" class="display-opt-spinner" /></td>
										<td><label class="display-options-label">Outline</label></td>
										<td><input id="displayTreeLabelOutlineSpinner" class="display-opt-spinner" /></td>
									</tr>
								</tbody></table>
							</div>
							<div class="labeled-group-div">
                <label class="labeled-group-label">Tree angles</label>
								<table class="display-options-table"><tbody>
									<tr>
										<td><label class="display-options-label">Initial</label></td>
										<td><input id="displayTreeInitAngleSpinner" class="display-opt-spinner" /></td>
										<td><label class="display-options-label">Split</label></td>
										<td><input id="displayTreeBufferAngleSpinner" class="display-opt-spinner" /></td>
                	</tr>
								</tbody></table>
							</div>
							<div class="labeled-group-div">
                <label class="labeled-group-label">Banner sizes</label>
								<table class="display-options-table"><tbody>
									<tr>
										<td><label class="display-options-label">Height</label></td>
										<td><input id="displayBannerHeightSpinner" class="display-opt-spinner" /></td>
										<td><label class="display-options-label">Buffer</label></td>
										<td><input id="displayBannerBufferSpinner" class="display-opt-spinner" /></td>
									</tr>
									<tr>
										<td><label class="display-options-label">Font</label></td>
										<td><input id="displayBannerFontSpinner" class="display-opt-spinner" /></td>
									</tr>
								</tbody></table>
							</div>
							<div class="labeled-group-div">
                <label class="labeled-group-label">Other options</label>
								<div id="scaleBarRowDiv" class="horizontal-row-div">
									<label class="nvrgtr-checkbox-outer">
										<input id="showScaleBarCheckbox" type="checkbox" checked />
										<label class="nvrgtr-checkbox-label" for="showScaleBarCheckbox">Scale bar</label>
									</label>
									<div>
										<label id="displayScaleDistLabel">Scale distance:</label>
										<input id="scaleBarInput" autocomplete="off" placeholder="size" />
									</div>
									<button id="scaleBarInputGoButton" style="display:none;">Ok</button>
								</div>
								<div id="legendBeamsRowDiv" class="horizontal-row-div">
									<label class="nvrgtr-checkbox-outer">
										<input id="showLegendCheckbox" type="checkbox"/>
										<label class="nvrgtr-checkbox-label" for="showLegendCheckbox">Variant legend</label>
									</label>
									<label class="nvrgtr-checkbox-outer" title="Make cluster centers more obvious on the results page">
										<input id="showChosenBeamsCheckbox" type="checkbox" checked />
										<label class="nvrgtr-checkbox-label" for="showChosenBeamsCheckbox">Chosen beams</label>
									</label>
								</div>
								<div class="horizontal-row-div">
									<label class="nvrgtr-checkbox-outer">
										<input id="displayBannerLabelCheckbox" type="checkbox" checked />
										<label class="nvrgtr-checkbox-label" for="displayBannerLabelCheckbox">Banner labels</label>
									</label>
									<label class="nvrgtr-checkbox-outer">
										<input id="displayBannerBorderCheckbox" type="checkbox" checked />
										<label class="nvrgtr-checkbox-label" for="displayBannerBorderCheckbox">Banner borders</label>
									</label>
								</div>
							</div>
							<div class="labeled-group-div">
                <label class="labeled-group-label">Variant colours</label>
								<table class="display-options-table"><tbody>
									<tr>
										<td><label class="display-options-label">Available</label></td>
										<td><input id="available_colourPicker" class="jscolor" spellcheck="false" onchange="updateDisplayColour('available',this.jscolor)"></td>
										<td><label class="display-options-label">Chosen</label></td>
										<td><input id="chosen_colourPicker" class="jscolor" spellcheck="false" onchange="updateDisplayColour('chosen',this.jscolor)"></td>
									</tr>
									<tr>
										<td><label class="display-options-label">Ignored</label></td>
										<td><input id="ignored_colourPicker" class="jscolor" spellcheck="false" onchange="updateDisplayColour('ignored',this.jscolor)"></td>
										<td><label class="display-options-label">Unassigned</label></td>
										<td><input id="default_node_colourPicker" class="jscolor" spellcheck="false" onchange="updateDisplayColour('default_node',this.jscolor)"></td>
									</tr>
								</tbody></table>
							</div>
							<div class="labeled-group-div">
                <label class="labeled-group-label">Tree colours</label>
								<table class="display-options-table"><tbody>
									<tr>
										<td><label class="display-options-label">Clusters</label></td>
										<td><input id="cluster_background_colourPicker" class="jscolor" spellcheck="false" onchange="updateDisplayColour('cluster_background',this.jscolor)"></td>
										<td><label class="display-options-label">Singles</label></td>
										<td><input id="singleton_cluster_background_colourPicker" class="jscolor" spellcheck="false" onchange="updateDisplayColour('singleton_cluster_background',this.jscolor)"></td>
									</tr>
									<tr>
										<td><label class="display-options-label">Highlight</label></td>
										<td><input id="cluster_highlight_colourPicker" class="jscolor" spellcheck="false" onchange="updateDisplayColour('cluster_highlight',this.jscolor)"></td>
										<td><label class="display-options-label">Graph</label></td>
										<td><input id="bar_chart_colourPicker" class="jscolor" spellcheck="false" onchange="updateDisplayColour('bar_chart',this.jscolor)"></td>
									</tr>
									<tr>
										<td><label class="display-options-label">Selection</label></td>
										<td><input id="selection_colourPicker" class="jscolor" spellcheck="false" onchange="updateDisplayColour('selection',this.jscolor)"></td>
										<td><label class="display-options-label">Search</label></td>
										<td><input id="search_colourPicker" class="jscolor" spellcheck="false" onchange="updateDisplayColour('search',this.jscolor)"></td>
									</tr>
									<tr>
										<td><label class="display-options-label">Label</label></td>
										<td><input id="label_bg_colourPicker" class="jscolor" spellcheck="false" onchange="updateDisplayColour('label_bg',this.jscolor)"></td>
										<td><label class="display-options-label">Text</label></td>
										<td><input id="label_text_colourPicker" class="jscolor" spellcheck="false" onchange="updateDisplayColour('label_text',this.jscolor)"></td>
									</tr>
									<tr>
										<td><label class="display-options-label">Background</label></td>
										<td><input id="tree_background_colourPicker" class="jscolor" spellcheck="false" onchange="updateDisplayColour('tree_background',this.jscolor)"></td>
									</tr>
								</tbody></table>
							</div>
              <div id="legendRedrawButtonsRowDiv" class="horizontal-row-div">
                <button id="resetDisplayOptsButton" class="jq-ui-button">Reset options</button>
                <button id="redrawTreeButton" class="jq-ui-button"><b>Redraw tree</b></button>
              </div>
            </div>

            <h2 class="collapsible-header">Selection groups<div id="selectionGroupsHelp" class="help-button"></div></h2>
            <div id="selectionGroupsDiv" class="collapsible-panel">
              <div class="labeled-group-div">
                <label class="labeled-group-label">Tree banners</label>
                <button id="selectGroupAddBannerButton" class="jq-ui-button">New</button>
                <div id="selectGroupBannerListDiv"></div>
                <div id="bannerLegendDiv" class="horizontal-row-div">
                  <button id="selectGroupBannerLegendButton" class="jq-ui-button">Generate legend</button>
                  <label class="nvrgtr-checkbox-outer">
                    <input id="showBannerLegendCheckbox" type="checkbox" checked />
                    <label class="nvrgtr-checkbox-label" for="showBannerLegendCheckbox">Show</label>
                  </label>
                </div>
              </div>
              <div class="labeled-group-div">
                <label class="labeled-group-label">Selection formatting</label>
                <table class="select-group-format-table"><tbody>
                  <tr>
                    <td><label class="selection-group-format-label">Node colour</label></td>
                    <td><input id="node_colourPicker" class="jscolor {required:false}" spellcheck="false" placeholder="None" onchange="updateSelectionGroupColour('node')"></td>
                    <td><label class="selection-group-format-label">Node size</label></td>
                    <td><input id="selectGroupNodeSizeSpinner" class="select-group-node-spinner" placeholder="None" /></td>
                  </tr>
                  <tr>
                    <td><label class="selection-group-format-label">Label colour</label></td>
                    <td><input id="label_colourPicker" class="jscolor {required:false}" spellcheck="false" placeholder="None" onchange="updateSelectionGroupColour('label')"></td>
                    <td><label class="selection-group-format-label">Label text</label></td>
                    <td><input id="text_colourPicker" class="jscolor {required:false}" spellcheck="false" placeholder="None" onchange="updateSelectionGroupColour('text')"></td>
                  </tr>
                </tbody></table>
                <div class="horizontal-row-div">
                  <button id="selectGroupApplyButton" class="jq-ui-button">Apply</button>
                  <button id="selectGroupClearFormatButton" class="jq-ui-button">Clear</button>
                </div>
              </div>
              <div id="savedSelectGroupOuter" class="labeled-group-div">
                <label class="labeled-group-label">Saved selection groups</label>
                <div id="selectGroupListDiv"></div>
              </div>
              <div class="horizontal-row-div">
                <input id="selectGroupNameInput" placeholder="Selection group name" />
                <button id="selectGroupSaveButton" class="jq-ui-button">Save</button>
              </div>
            </div>

            <h2 class="collapsible-header">Export data<div id="exportDataHelp" class="help-button"></div></h2>
            <div class="collapsible-panel">
              <div id="variantDistancesPane" class="floating-pane">
                <div>
                  <h2 class="floating-pane-header">Variant distances</h2>
                  <button class="floating-pane-close"></button>
                </div>
                <div id="variantDistancesMainDiv">
                  <p class="var-dist-p"><b>From:</b> <span id="variantDistanceFromSpan"></span></p>
                  <p class="var-dist-p"><b>To:</b> <span id="variantDistanceToSpan"></span></p>
                  <textarea id="variantDistancesText" autocomplete="off" spellcheck="false"></textarea>
                  <p id="variantDistanceAvgP"><b>Average:</b> <span id="variantDistanceAvgSpan"></span></p>
                </div>
              </div>

              <div id="exportNamesPane" class="floating-pane">
                <div>
                  <h2 class="floating-pane-header">Export variant names</h2>
                  <button class="floating-pane-close"></button>
                </div>
                <div id="exportNamesMainDiv">
                  <div id="exportNamesLeftColumn">
                    <textarea id="exportNamesText" autocomplete="off" spellcheck="false"></textarea>
                  </div>
                  <div id="exportNamesRightColumn">
                    <label id="exportDelimiterLabel">Delimiter:</label>
                    <select id="exportDelimiterSelect">
                      <option value="comma" selected>Comma</option>
                      <option value="tab">Tab</option>
                      <option value="space">Space</option>
                      <option value="newline">New line</option>
                    </select>
                    <button id="exportNamesCopyButton">Copy to clipboard</button>
                    <button id="exportNamesSaveButton">Save text file</button>
                  </div>
                </div>
              </div>

              <div class="labeled-group-div">
                <label class="labeled-group-label">Save to file</label>
                <div class="horizontal-row-div">
                  <button id="exportTreeFileButton" class="jq-ui-button">Save tree as</button>
                  <select id="exportTreeFileTypeSelect">
                    <option selected value="newick">Newick tree</option>
                    <option value="nexus">NEXUS tree</option>
                    <option value="phyloxml">PhyloXML tree</option>
                    <option value="nexml">NeXML tree</option>
                  </select>
                </div>
                <div class="horizontal-row-div">
                  <button id="exportSubtreeFileButton" class="jq-ui-button">Save subtree as</button>
                  <select id="exportSubtreeFileTypeSelect">
                    <option selected value="newick">Newick tree</option>
                    <option value="nexus">NEXUS tree</option>
                    <option value="phyloxml">PhyloXML tree</option>
                    <option value="nexml">NeXML tree</option>
                  </select>
                </div>
                <button id="exportTreeImageButton" class="jq-ui-button">Save tree image</button>
              </div>
              <div class="labeled-group-div">
                <label class="labeled-group-label">Get variant data</label>
                <button id="getSelectedDistancesButton" class="jq-ui-button" title="Returns the distance from the first variant selected to every other">Get distances</button>
                <button id="exportSelectionButton" class="jq-ui-button">Export selection</button>
              </div>
            </div>

          </div>

          <div id="runOptionsDiv" class="style-box">
            <h2>Results normalization</h2>
            <table><tbody>
              <tr><td>
                <label class="nvrgtr-checkbox-outer">
                  <input id="normSelfRadio" type="radio" name="normalizeRadios" checked />
                  <label class="nvrgtr-checkbox-label" for="normSelfRadio">Self-normalized</label>
                </label>
              </td></tr>
              <tr><td>
                <label class="nvrgtr-checkbox-outer">
                  <input id="normGlobalRadio" type="radio" name="normalizeRadios" />
                  <label class="nvrgtr-checkbox-label" for="normGlobalRadio">Normalize across runs <span id="normGlobalValSpan"></span></label>
                </label>
              </td></tr>
              <tr><td>
                <label class="nvrgtr-checkbox-outer">
                  <input id="normValRadio" type="radio" name="normalizeRadios" />
                  <label class="nvrgtr-checkbox-label" for="normValRadio">Normalize to</label>
                </label>
                <input id="normValInput" placeholder="value" />
                <button id="normValGoButton" style="display:none">Ok</button>
              </td></tr>
            </tbody></table>

            <h2>Clustering options</h2>
            <div class="toggle-button-container">
              <input type="radio" id="clustMethodNumberCheckbox" name="run-type-choice" class="toggle-button-input" checked>
              <label for="clustMethodNumberCheckbox" class="toggle-button-label toggle-button-label-left">By number</label>
              <input type="radio" id="clustMethodThresholdCheckbox" name="run-type-choice" class="toggle-button-input">
              <label for="clustMethodThresholdCheckbox" class="toggle-button-label toggle-button-label-right">By threshold</label>
            </div>

            <div id="thresholdOutsideDiv">
              <div id="thresholdComputePane" class="floating-pane">
                <div>
                  <h2 class="floating-pane-header">Compute distance threshold</h2>
                  <button class="floating-pane-close"></button>
                </div>
                <div id="thresholdPaneMainDiv">
                  <div id="thresholdPaneDataColumn">
                    <label><b>Variant interaction data</b></label>
                    <textarea id="thresholdDataText" autocomplete="off" spellcheck="false"></textarea>
                    <div>
                      <button id="thresholdLoadDataButton">Load file</button>
                      <button id="thresholdValidateButton">Validate data</button>
                      <label id="thresholdErrorLabel"></label>
                    </div>
                    <button id="thresholdFitCurveButton"><b>Fit curve</b></button>
                    <div id="thresholdPaneParamsDiv" style="display:none;">
                      <label><b>Graph parameters</b></label>
                      <label class="threshold-param-label">Max value: <input id="thresholdMaxValInput" placeholder="Re-calculate" title="Enter a custom value and click 'Fit curve' to constrain the maximum value of the curve." /></label>
                      <label class="threshold-param-label">Midline: <span id="thresholdMidlineValue">--</span></label>
                      <label class="threshold-param-label">Steepness: <span id="thresholdSteepnessValue">--</span></label>
                    </div>
                  </div>
                  <div id="thresholdPaneGraphColumn" style="display:none;">
                    <label id="thresholdSvgLabel"><b>Variant interactions</b></label>
                    <div id="thresholdGraphRowDiv">
                      <div id="thresholdSlider">
                        <div id="thresholdSliderHandle" class="ui-slider-handle"></div>
                      </div>
                      <svg id="thresholdSvg" xmlns="http://www.w3.org/2000/svg" version="1.1"></svg>
                    </div>
                    <label id="thresholdCritValLabel">Critical interaction value: <input id="thresholdCritValInput" title="Enter a value here to exactly specify the critical interaction value." /></label>
                    <div id="thresholdCritDistDiv" class="horizontal-row-div">
                      <label>Critical distance threshold: <span id="thresholdCritDistSpan">--</span></label>
                      <button id="thresholdOkButton">OK</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <table class="clust-type-opts-table clust-type-number-ele"><tbody>
              <tr><td>
                <label for="kClustMethodSelect">Algorithm</label>
                <select id="kClustMethodSelect">
                  <option value="brute force">Brute force</option>
                  <option value="k medoids" selected>K medoids</option>
                  <option value="k minibatch">K minibatch</option>
                </select>
              </td></tr>
              <tr><td>
                <label for="numVarSpinner">Variants to find:</label>
                <input id="numVarSpinner" class="param-spinner" />
                <span class="variant-range-only">to</span>
                <input id="rangeSpinner" class="param-spinner" />
              </td></tr>
              <tr><td>
                <label class="nvrgtr-checkbox-outer">
                  <input id="varRangeCheckbox" type="checkbox" checked />
                  <label class="nvrgtr-checkbox-label" for="varRangeCheckbox">Variant range</label>
                </label>
              </td></tr>
              <tr><td>
                <label for="clustToleranceSpinner">Clustering tolerance:</label>
                <input id="clustToleranceSpinner" class="param-spinner" />
              </td></tr>
              <tr class="clust-method-run-reps"><td>
                <label for="clustRandStartsSpinner">Random starts:</label>
                <input id="clustRandStartsSpinner" class="param-spinner" />
              </td></tr>
              <tr class="clust-method-batch-size"><td>
                <label for="clustBatchSizeSpinner">Batch size:</label>
                <input id="clustBatchSizeSpinner" class="param-spinner" />
              </td></tr>
            </tbody></table>

            <table class="clust-type-opts-table clust-method-thresh-ele"><tbody>
              <tr><td>
                <label for="threshClustMethodSelect">Algorithm</label>
                <select id="threshClustMethodSelect">
                  <option value="qt minimal" selected>QT minimal</option>
                  <option value="qt greedy">QT greedy</option>
                </select>
              </td></tr>
              <tr><td>
                <label>Critical threshold:</label>
                <input id="thresholdInput" placeholder="Distance" autocomplete="off" spellcheck="false" />
              </td></tr>
              <tr><td>
                <button id="thresholdComputeButton" class="jq-ui-button">Get threshold from data</button>
              </td></tr>
              <tr><td>
                <label for="threshPercentSpinner">Critical percentage:</label>
                <input id="threshPercentSpinner" class="param-spinner" />
              </td></tr>
            </tbody></table>

            <hr>
            <label class="nvrgtr-checkbox-outer">
              <input id="capCyclesCheckbox" type="checkbox" />
              <label class="nvrgtr-checkbox-label" for="capCyclesCheckbox">Limit processing cycles</label>
            </label>
            <div>
              <label for="maxCyclesSpinner">Max cycles:</label>
              <input id="maxCyclesSpinner" class="param-spinner" />
            </div>
            <button id="findVariantsButton" class="jq-ui-button"><b>Find variants</b></button>
          </div>

        </div>

        <div id="mainTreeDiv" class="style-box">
          <h2 id="mainTreeHeader"><span id="currentTreeFile">No tree loaded</span>
            <div id="treeSearchDiv">
              <div id="varSearchHitsDiv">
                <button id="searchToSelectButton" class="control-element">
                  <b><label id="varSearchNumHitsText">-- hits</label></b>
                  <div id="searchSelectIconDiv">
                    <span id="searchSelectIconSpan1"></span><span id="searchSelectIconSpan2"></span>
                  </div>
                </button>
                <span id="searchSelectConnectingSpan"></span>
              </div>
              <input id="varSearchInput" class="control-element control-pair-left" size="18" placeholder="Search variants" autocomplete="off" spellcheck="false" />
              <button id="varSearchButton" class="control-element control-pair-right"><span id="treeSearchSpanLine"></span><span id="treeSearchSpanCircle"></span></button>
            </div>
            <div id="treeHelp" class="help-button"></div>
          </h2>

          <div id="treeControlsDiv" class="tree-control-div" style="display:none">
            <div class="tree-control-row">
              <button id="treeZoomOutButton" class="control-element control-pair-left" type="button">&#8722;</button>
              <button id="treeZoomInButton" class="control-element" type="button">&#43;</button>
              <button id="treeZoomResetButton" class="control-element control-pair-right" type="button">Reset</button>
              <button id="scrollZoomButton" class="control-element" type="button"><span id="scrollZoomText">Scroll<br>Zoom</span><span id="scrollZoomStatus">Off</span></button>
            </div>
            <label id="zoomGroupText" class="tree-control-div-title">Zoom</label>
          </div>

          <div id="treeSelectionDiv" class="tree-control-div" style="display:none">
            <div class="tree-control-row-rj">
              <div id="selectNamesGroupDiv">
                <button id="selectNamesButton" class="control-element">Select<br>by name</button>
                <div id="selectNamesPane" class="floating-pane">
                  <div>
                    <h2 class="floating-pane-header">Select variants by name</h2>
                    <button class="floating-pane-close"></button>
                  </div>
                  <div id="selectNamesMainDiv">
                    <div id="selectNamesLeftColumn">
                      <textarea id="selectNamesText" placeholder="Enter variant names"></textarea>
                      <button id="selectNamesAddButton" class="control-element">Add to selection</button>
                    </div>
                    <div id="selectNamesRightColumn">
                      <button id="selectNamesValidateButton" class="control-element">Validate</button>
                      <button id="selectNamesClearButton" class="control-element">Clear</button>
                    </div>
                  </div>
                </div>
              </div>
              <button id="selectAllButton" class="control-element control-pair-left">Select all</button>
              <button id="clearSelectionButton" class="control-element control-pair-right">Clear</button>
            </div>
            <label id="selectionGroupText" class="tree-control-div-title">Selection</label>
          </div>

          <svg id="figureSvg" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <g id="introMessageGroup">
              <text x="5" y="35" style="font-size:25px;font-family:Helvetica,Arial,sans-serif">Welcome to Navargator! To get started:
                <tspan x="5" y="70" style="font-size:17px">Choose a phylogenetic tree or a previously saved .nvrgtr session file.</tspan>
                <tspan x="5" y="105" style="font-size:17px">Press the "Load file" button.</tspan>
              </text>
            </g>
            <g id="treeGroup" class="svg-pan-zoom_viewport"></g>
            <g id="treeLegendLeftGroup" style="display:none">
              <rect id="legendBorderRect" x="2" y="0" width="115" height="82" style="fill:white;stroke:black;stroke-width:1"></rect>
              <text x="19" y="20" style="font-size:18px; font-family:Helvetica,Arial,sans-serif">Legend</text>
              <circle id="legendAvailMarker" cx="11" cy="34" r="4" fill="#24B1F0" stroke="#000000" stroke-width="0.5"></circle>
              <text x="19" y="38" style="font-size:12px; font-family:Helvetica,Arial,sans-serif">Available variant</text>
              <circle id="legendChosenMarker" cx="11" cy="52" r="4" fill="#24F030" stroke="#000000" stroke-width="0.5"></circle>
              <text x="19" y="56" style="font-size:12px; font-family:Helvetica,Arial,sans-serif">Chosen variant</text>
              <circle id="legendIgnoredMarker" cx="11" cy="70" r="4" fill="#5D5D5D" stroke="#000000" stroke-width="0.5"></circle>
              <text x="19" y="74" style="font-size:12px; font-family:Helvetica,Arial,sans-serif">Ignored variant</text>
            </g>
            <g id="treeScaleBarGroup" style="display:none">
              <text id="treeScaleBarText" x="624" y="0" text-anchor="middle" style="font-size:14px; font-family:Helvetica,Arial,sans-serif">Scale</text>
              <line id="treeScaleBar" x1="549" y1="7" x2="699" y2="7" style="stroke:black;stroke-width:1"></line>
            </g>
            <g id="treeBannerLegendGroup" style="display:none"></g>
            <g id="treeLoadingMessageGroup" style="display:none;">
              <text x="5" y="70" style="font-size:25px; font-family:Helvetica,Arial,sans-serif">Loading and drawing tree...</text>
            </g>
          </svg>
          <div id="svgCanvas"></div>
        </div>

        <div id="mainVariantSelectDiv" class="style-box" style="display:none">
          <div id="resultsMainDiv" style="display:none">
            <h2>Clustering results</h2>
            <div id="resultsContentDiv">
              <svg id="scoreGraphSvg" style="display:none" xmlns="http://www.w3.org/2000/svg" version="1.1"></svg>

              <div id="resultsLinksMainDiv">

                <div id="newLinksListDiv" class="run-links-div">
                  <label><b>Running:</b></label>
                  <ul id="newLinksList" class="run-links-ul"></ul>
                </div>
                <div id="resultsLinksListDiv" class="run-links-div" style="display:none">
                  <label><b>Results:</b></label>
                  <ol id="resultsLinksList" class="run-links-ol"></ol>
                </div>
                <div id="errLinksListDiv" class="run-links-div" style="display:none">
                  <label><b>Errors:</b></label>
                  <ul id="errLinksList" class="run-links-ul"></ul>
                </div>

              </div>

            </div>
          </div>

          <h2 id="varAssignH2"><span id="numVariantsSpan">No tree loaded</span><div id="assignedVarsHelp" class="help-button"></div></h2>
          <div id="varSelectDiv">
            <div id="varAssignTableDiv">
              <table id="varAssignTable"><tbody>
                <tr>
                  <td><div id="availAssignedDiv" class="var-assigned-div prevent-text-selection"><label class="var-assigned-label"><span id="numAvailSpan">0</span> available</label><div class="var-assigned-button-group"><label id="addAvailButton" class="var-assigned-add"><span class="var-assigned-add-span1"></span><span class="var-assigned-add-span2"></span></label><span class="var-assigned-sep"></span><label id="clearAvailButton" class="var-assigned-clear" title="Clear 'available variants'."><span class="var-assigned-clear-span1"></span><span class="var-assigned-clear-span2"></span></label></div></div></td>
                </tr>
                <tr>
                  <td><div id="chosenAssignedDiv" class="var-assigned-div prevent-text-selection"><label class="var-assigned-label"><span id="numChosenSpan">0</span> chosen</label><div class="var-assigned-button-group"><label id="addChosenButton" class="var-assigned-add"><span class="var-assigned-add-span1"></span><span class="var-assigned-add-span2"></span></label><span class="var-assigned-sep"></span><label id="clearChosenButton" class="var-assigned-clear" title="Clear 'chosen variants'."><span class="var-assigned-clear-span1"></span><span class="var-assigned-clear-span2"></span></label></div></div></td>
                </tr>
                <tr>
                  <td><div id="ignoredAssignedDiv" class="var-assigned-div prevent-text-selection"><label class="var-assigned-label"><span id="numIgnoredSpan">0</span> ignored</label><div class="var-assigned-button-group"><label id="addIgnoredButton" class="var-assigned-add"><span class="var-assigned-add-span1"></span><span class="var-assigned-add-span2"></span></label><span class="var-assigned-sep"></span><label id="clearIgnoredButton" class="var-assigned-clear" title="Clear 'ignored variants'."><span class="var-assigned-clear-span1"></span><span class="var-assigned-clear-span2"></span></label></div></div></td>
                </tr>
              </tbody></table>
            </div>
          </div>
        </div>
      </div>

      <div id="footerDiv">
        <p>&copy; 2023 David Curran</p>
      </div>
    </div>

    <script>
      // Using $.getScript is async, and you can't ensure the order is maintained. This does:
      var scripts = ["static/js/core.js", "static/js/core_tree_functions.js", "static/js/input.js"];
      for (var i=0; i<scripts.length; ++i) {
        $.ajax({
          url:scripts[i], async:false, cache:false, dataType:'script',
          success: function() { console.log('loaded '+scripts[i]); },
          error: function(e) { console.log('error loading '+scripts[i], e); }
        });
      }
      // Could replace with a standard script call, but then you can't prevent caching.
    </script>
  </body>
</html>
