<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Repvar input page">
    <meta name="author" content="Dave Curran">
    <title>NaVARgator input page</title>
    <script src="static/libs/jquery-1.11.1.min.js"></script>
    <script src="static/libs/jquery-ui.min.js"></script>
    <script src="static/libs/raphael-min.js"></script>
    <script src="static/libs/jsphylosvg-DC.js"></script>
    <script src="static/libs/svg-pan-zoom.min.js"></script>
    <script src="static/libs/d3.min.js"></script>
    <link rel="stylesheet" href="static/libs/jquery-ui.min.css">
    <link rel="stylesheet" href="static/libs/jquery-ui.theme.min.css">
    <script>
      var timestamp = +new Date;
      var core_css_url = 'static/css/core.css?v=' + timestamp;
      var page_css_url = 'static/css/input.css?v=' + timestamp;
      var icon_url = 'static/images/favicon.ico?v=' + timestamp;
      $('<link>')
        .appendTo('head')
        .attr({type : 'text/css', rel : 'stylesheet'})
        .attr('href', core_css_url);
      $('<link>')
        .appendTo('head')
        .attr({type : 'text/css', rel : 'stylesheet'})
        .attr('href', page_css_url);
      $('<link>')
        .appendTo('head')
        .attr({rel : 'icon'})
        .attr('href', icon_url);
    </script>
  </head>
  <body>
    <div id="errorDialog" title="Repvar error">
      <p id="errorDialogText">Error loading page resources.</p>
    </div>

    <div id="pageDiv">
      <div id="headerDiv">
        <div id="headerInnerDiv">
          <h1>NaVARgator</h1>
          <p>Navbar and whatnot goes here.</p>
        </div>
      </div>

      <div id="bodyMainDiv">
        <div id="mainLeftDiv">
          <div id="inputOptionsDiv" class="style-box">
            <h2>Input file</h2>
            <form id="uploadFilesForm" method="post" enctype="multipart/form-data">
              <label for="upload-file"><b>Upload a tree or .nvrgtr file</b></label>
              <input id="uploadFileInput" name="upload-file" type="file">
            </form>
            <button id="uploadFileButton" class="jq-ui-button"><b>Load file</b></button>
            <h2>Configuration options</h2>
            <label><input id="showNamesCheckbox" type="checkbox" checked />Show variant names</label>
            <button id="saveRepvarButton" class="jq-ui-button">Save config file</button>
          </div>

          <div id="runOptionsDiv" class="style-box">
            <h2>Run options</h2>
            <div class="toggle-button-container">
              <input type="radio" id="singleRunCheckbox" name="run-type-choice" class="toggle-button-input" checked>
              <label for="singleRunCheckbox" id="singleRunLabel" class="toggle-button-label toggle-button-label-left">Single run</label>
              <input type="radio" id="multipleRunCheckbox" name="run-type-choice" class="toggle-button-input">
              <label for="multipleRunCheckbox" id="multipleRunLabel" class="toggle-button-label toggle-button-label-right">Variant range</label>
            </div>
            <table><tbody>
              <tr><td>
                <label for="numVarSpinner">Variants to find:</label>
                <input id="numVarSpinner" class="param-spinner" />
                <span class="multiple-run-only">to</span>
                <input id="rangeSpinner" class="param-spinner" />
              </td></tr>
              <tr><td>
                <label class="single-run-only"><input id="autoOpenCheckbox" type="checkbox" checked />Auto-open results page</label>
              </td></tr>
              <tr><td>
                <label for="clustMethodSelect">Clustering method</label>
                <select id="clustMethodSelect">
                  <option value="k medoids" selected>K medoids</option>
                  <option value="brute force">Brute force</option>
                </select>
              </td></tr>
            </tbody></table>
            <button id="findVariantsButton" class="jq-ui-button"><b>Find variants</b></button>
          </div>

          <div id="resultsLinksDiv" class="style-box" style="display:none">
            <h2>Clustering results</h2>
            <svg id="scoreGraphSvg" style="display:none" xmlns="http://www.w3.org/2000/svg" version="1.1"></svg>
            <ul id="resultsLinksList" />
          </div>
        </div>

        <div id="mainTreeDiv" class="style-box">
          <form id="treeControlsDiv" onsubmit="return treeSearchFunction();">
            <button id="searchToSelectButton" class="control-element" type="button" style="display:none">Add to<br>selection</button>
            <label id="varSearchHitsText" class=""></label>
            <button id="varSearchButton" class="control-element control-pair-left"><span class="ui-icon ui-icon-search"></span></button><!-- Needed to remove whitespace between this and the button. Because the parent uses a display:inline. name="searchInput"
            --><input id="varSearchInput" class="control-element control-pair-right" size="18" placeholder=" Search variants" onkeyup="this.setAttribute('value', this.value);" value="" />
            <button id="clearVarSearchButton" type="reset"><span class="ui-icon ui-icon-close"></span></button>
            <div style="clear:both;"></div>
            <button id="treeZoomOutButton" class="control-element control-pair-left" type="button"><span class="ui-icon ui-icon-minus"></button><!--
            --><button id="treeZoomInButton" class="control-element" type="button"><span class="ui-icon ui-icon-plus"></button>
            <button id="treeZoomResetButton" class="control-element control-pair-right" type="button">Reset</button>
            <button id="scrollZoomButton" class="control-element" type="button"><span id="scrollZoomText">Scroll<br>Zoom</span><span id="scrollZoomStatus">Off</span></button>
          </form>
          <svg id="figureSvg" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <g id="introMessageGroup">
              <text x="10" y="35" style="font-size:25px; font-family:Helvetica,Arial,sans-serif">Welcome to NaVARgator! To get started:
                <tspan x="20" y="65" style="font-size:17px">Choose a phylogenetic tree or a previously saved .nvrgtr file.</tspan>
                <tspan x="20" y="95" style="font-size:17px">Press "Load file".</tspan>
              </text>
            </g>
            <g id="treeGroup" class="svg-pan-zoom_viewport"></g>
          </svg>
          <div id="svgCanvas"></div>
        </div>

        <div id="mainVariantSelectDiv" class="style-box" style="display:none">
          <h2><span id="numVariantsSpan"></span> variants</h2>

          <div id="topVariantSelectDiv">
            <table id="varAssignTable"><tbody>
              <tr>
                <td><div id="chosenAssignedDiv" class="var-assigned-div prevent-text-selection"><label class="var-assigned-label"><span id="numChosenSpan">0</span> chosen variants</label><label id="clearChosenButton" class="var-assigned-clear" title="Clear 'Chosen variants'">&#10006;</label></div></td>
                <td><button id="chosenUpdateButton" class="jq-ui-button" title="Set 'Chosen variants' to the current selection">Update</button></td>
              </tr>
              <tr>
                <td><div id="availAssignedDiv" class="var-assigned-div prevent-text-selection"><label class="var-assigned-label"><span id="numAvailSpan">0</span> available variants</label><label id="clearAvailButton" class="var-assigned-clear" title="Clear 'Available variants'">&#10006;</label></div></td>
                <td><button id="availUpdateButton" class="jq-ui-button" title="Set 'Available variants' to the current selection">Update</button></td>
              </tr>
              <tr>
                <td><div id="ignoredAssignedDiv" class="var-assigned-div prevent-text-selection"><label class="var-assigned-label"><span id="numIgnoredSpan">0</span> ignored variants</label><label id="clearIgnoredButton" class="var-assigned-clear" title="Clear 'Ignored variants'">&#10006;</label></div></td>
                <td><button id="ignoreUpdateButton" class="jq-ui-button" title="Set 'Ignored variants' to the current selection">Update</button></td>
              </tr>
            </tbody></table>
            <div id="selectedVariantsDiv">
              <p>Currently selected variants: <span id="currentSelectionNum">0</span></p>
              <button id="selectAllButton" class="jq-ui-button">Select all</button>
              <button id="clearSelectionButton" class="jq-ui-button">Clear selection</button>
            </div>
          </div>
          <hr id="variantSelectHr">
          <div id="varSelectDiv"></div>
        </div>
      </div>

      <div id="footerDiv">
        <p>&copy; 2018 David Curran</p>
      </div>
    </div>

    <script>
      // Using $.getScript is async, and you can't ensure the order is maintained. This does:
      var scripts = ["static/js/core.js", "static/js/core_tree_functions.js", "static/js/input.js"];
      for (var i=0; i<scripts.length; ++i) {
        $.ajax({
          url:scripts[i], async:false, cache:false, dataType:'script',
          success: function() { console.log('loaded '+scripts[i]); },
          error: function(e) { console.log('error loading '+scripts[i], e); }
        });
      }
      // Could replace with a standard script call, but then you can't prevent caching.
    </script>
  </body>
</html>
