<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Repvar input page">
    <meta name="author" content="Dave Curran">
    <title>Repvar input</title>
    <script src="static/libs/jquery-1.11.1.min.js"></script>
    <script src="static/libs/jquery-ui.min.js"></script>
    <script src="static/libs/raphael-min.js"></script>
    <script src="static/libs/jsphylosvg-DC.js"></script>
    <script src="static/libs/svg-pan-zoom.min.js"></script>
    <link rel="stylesheet" href="static/libs/jquery-ui.min.css">
    <link rel="stylesheet" href="static/libs/jquery-ui.theme.min.css">
    <script>
      var timestamp = +new Date;
      var core_css_url = 'static/css/core.css?v=' + timestamp;
      var page_css_url = 'static/css/input.css?v=' + timestamp;
      var icon_url = 'static/images/favicon.ico?v=' + timestamp;
      $('<link>')
        .appendTo('head')
        .attr({type : 'text/css', rel : 'stylesheet'})
        .attr('href', core_css_url);
      $('<link>')
        .appendTo('head')
        .attr({type : 'text/css', rel : 'stylesheet'})
        .attr('href', page_css_url);
      $('<link>')
        .appendTo('head')
        .attr({rel : 'icon'})
        .attr('href', icon_url);
    </script>
  </head>
  <body>
    <div id="errorDialog" title="Repvar error">
      <p id="errorDialogText">Error text.<p>
    </div>

    <div id="pageDiv">
      <div id="headerDiv">
        <div id="headerInnerDiv">
          <h1>Header</h1>
          <p>Navbar and whatnot goes here.</p>
        </div>
      </div>

      <div id="bodyMainDiv">
        <div id="mainLeftDiv">
          <div id="inputOptionsDiv" class="style-box">
            <h2>Input file</h2>
            <form id="uploadFilesForm" method="post" enctype="multipart/form-data">
              <label for="upload-file"><b>Upload a tree or Repvar file</b></label>
              <input id="uploadFileInput" name="upload-file" type="file">
            </form>
            <button id="uploadFileButton" class="jq-ui-button"><b>Load file</b></button>
            <h2>Configuration options</h2>
            <label><input id="showNamesCheckbox" type="checkbox" checked />Show variant names</label>
            <button id="saveRepvarButton" class="jq-ui-button">Save config file</button>
          </div>

          <div id="runOptionsDiv" class="style-box">
            <h2>Run options</h2>
            <table id="runOptionsTable"><tbody>
              <tr>
                <td><label for="chosenButton"><span id="numChosenSpan">0</span> chosen variants</label></td>
                <td><button id="chosenButton" class="jq-ui-button">Choose</button></td>
              </tr>
              <tr>
                <td><label for="availButton"><span id="numAvailSpan">0</span> available variants</label></td>
                <td><button id="availButton" class="jq-ui-button">Choose</button></td>
              </tr>
              <tr>
                <td><label for="ignoreButton"><span id="numIgnoredSpan">0</span> ignored variants</label></td>
                <td><button id="ignoreButton" class="jq-ui-button">Choose</button></td>
              </tr>
              <tr>
                <td><label for="numVarSpinner">Variants to find</label></td>
                <td><input id="numVarSpinner" class="param-spinner" /></td>
              </tr>
              <tr>
                <td><label><input id="rangeCheckbox" type="checkbox" />Variant range</label></td>
                <td><input id="rangeSpinner" class="param-spinner" /></td>
              </tr>
              <tr>
                <td><label><input id="autoOpenCheckbox" type="checkbox" checked />Auto-open results</label></td>
              </tr>
            </tbody></table>
              <label for="clustMethodSelect">Clustering method</label>
              <select id="clustMethodSelect">
                <option value="k medoids" selected>K medoids</option>
                <option value="brute force">Brute force</option>
              </select>
            <button id="findVariantsButton" class="jq-ui-button"><b>Find variants</b></button>
          </div>

          <div id="resultsLinksDiv" class="style-box" style="display:none">
            <h2>Repvar results pages</h2>
            <ul id="resultsLinksList" />
          </div>
        </div>

        <div id="mainTreeDiv" class="style-box">
          <h2>Phylogenetic tree</h2>
          <form id="treeControlsDiv" onsubmit="return treeSearchFunction();">
            <label id="varSearchHitsText" class=""></label>
            <button id="varSearchButton" class="control-element control-pair-left"><span class="ui-icon ui-icon-search"></span></button><!-- Needed to remove whitespace between this and the button. Because the parent uses a display:inline. name="searchInput"
            --><input id="varSearchInput" class="control-element control-pair-right" size="14" placeholder="Search variants" onkeyup="this.setAttribute('value', this.value);" value="" />
            <button id="clearVarSearchButton" type="reset"><span class="ui-icon ui-icon-close"></span></button>
            <div style="clear:both;"></div>
            <button id="treeZoomOutButton" class="control-element control-pair-left"><span class="ui-icon ui-icon-minus"></button><!--
            --><button id="treeZoomInButton" class="control-element control-pair-right"><span class="ui-icon ui-icon-plus"></button>
            <button id="treeZoomResetButton" class="control-element">Reset</button>
          </form>
          <svg id="figureSvg" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <g id="treeGroup" class="svg-pan-zoom_viewport"></g>
          </svg>
          <div id="svgCanvas"></div>
        </div>

        <div id="mainNodeSelectDiv" class="style-box" style="display:none">
          <h2>Choose <span id="nodeSelectSpan"></span> variants</h2>
          <label><input id="nodeSelectAll" type="checkbox" /><b>Select all</b></label>
          <div id="nodeSelectCheckboxes"></div>
          <button id="nodeSelectSaveButton" class="jq-ui-button">Save selection</button>
          <button id="nodeSelectCancelButton" class="jq-ui-button">Cancel</button>
        </div>
      </div>

      <div id="footerDiv">
        <p>&copy; 2018 David Curran</p>
      </div>
    </div>

    <script>
      var timestamp = +new Date;
      var core_js_url = "static/js/core.js?t=" + timestamp;
      var core_tree_js_url = "static/js/core_tree_functions.js?t=" + timestamp;
      var page_js_url = "static/js/input.js?t=" + timestamp;
      $.getScript(core_js_url);
      $.getScript(core_tree_js_url);
      $.getScript(page_js_url);
    </script>
  </body>
</html>
