<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Repvar input page">
    <meta name="author" content="Dave Curran">
    <title>Repvar input</title>
    <script src="static/libs/jquery-1.11.1.min.js"></script>
    <script src="static/libs/jquery-ui.min.js"></script>
    <script src="static/libs/raphael-min.js"></script>
    <script src="static/libs/jsphylosvg-DC.js"></script>
    <script src="static/libs/svg-pan-zoom.min.js"></script>
    <link rel="stylesheet" href="static/libs/jquery-ui.min.css">
    <link rel="stylesheet" href="static/libs/jquery-ui.theme.min.css">
    <script>
      var timestamp = +new Date;
      var corecssurl = 'static/css/core.css?v=' + timestamp;
      var pagecssurl = 'static/css/input.css?v=' + timestamp;
      var iconurl = 'static/images/favicon.ico?v=' + timestamp;
      $('<link>')
        .appendTo('head')
        .attr({type : 'text/css', rel : 'stylesheet'})
        .attr('href', corecssurl);
      $('<link>')
        .appendTo('head')
        .attr({type : 'text/css', rel : 'stylesheet'})
        .attr('href', pagecssurl);
      $('<link>')
        .appendTo('head')
        .attr({rel : 'icon'})
        .attr('href', iconurl);
    </script>
  </head>
  <body>
    <div id="pageDiv">
      <div id="headerDiv">
        <div id="headerInnerDiv">
          <h1>Header</h1>
          <p>Navbar and whatnot goes here.</p>
        </div>
      </div>

      <div id="bodyMainDiv">
        <div id="mainLeftDiv">
          <div id="inputOptionsDiv" class="style-box">
            <h2>Input file</h2>
            <form id="uploadFilesForm" method="post" enctype="multipart/form-data">
              <label for="upload-file"><b>Upload a tree or Repvar file</b></label>
              <input id="uploadFileInput" name="upload-file" type="file">
            </form>
            <button id="uploadFileButton"><b>Load file</b></button>
            <h2>Configuration options</h2>
            <label><input id="showNamesCheckbox" type="checkbox" checked />Show variant names</label>
            <button id="saveRepvarButton">Save config file</button>
          </div>
          <div id="runOptionsDiv" class="style-box">
            <h2>Run options</h2>
            <table id="runOptionsTable"><tbody>
              <tr>
                <td><label for="chosenButton"><span id="numChosenSpan">0</span> chosen variants</label></td>
                <td><button id="chosenButton">Choose</button></td>
              </tr>
              <tr>
                <td><label for="availButton"><span id="numAvailSpan">0</span> available variants</label></td>
                <td><button id="availButton">Choose</button></td>
              </tr>
              <tr>
                <td><label for="ignoreButton"><span id="numIgnoredSpan">0</span> ignored variants</label></td>
                <td><button id="ignoreButton">Choose</button></td>
              </tr>
              <tr>
                <td><label for="numVarSpinner">Variants to find</label></td>
                <td><input id="numVarSpinner" class="param-spinner" /></td>
              </tr>
              <tr>
                <td><label><input id="rangeCheckbox" type="checkbox" />Range of variants</label></td>
                <td><input id="rangeSpinner" class="param-spinner" /></td>
              </tr>
            </tbody></table>
            <button id="runButton"><b>Find variants</b></button>
          </div>
        </div>

        <div id="mainTreeDiv" class="style-box">
          <h2>Phylogenetic tree</h2>
          <svg id="figureSvg" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <g id="treeGroup" class="svg-pan-zoom_viewport"></g>
          </svg>
          <div id="svgCanvas"></div>
        </div>

        <div id="mainNodeSelectDiv" class="style-box" style="display:none">
          <h2>Choose <span id="nodeSelectSpan"></span> variants</h2>
          <label><input id="nodeSelectAll" type="checkbox" /><b>Select all</b></label>
          <div id="nodeSelectCheckboxes"></div>
          <button id="nodeSelectSaveButton">Save selection</button>
          <button id="nodeSelectCancelButton">Cancel</button>
        </div>
      </div>

      <div id="footerDiv">
        <p>&copy; 2018 David Curran</p>
      </div>
    </div>

    <script>
      var timestamp = +new Date;
      var corejsurl = "static/js/core.js?t=" + timestamp;
      var pagejsurl = "static/js/input.js?t=" + timestamp;
      $.getScript(corejsurl);
      $.getScript(pagejsurl);
    </script>
  </body>
</html>
