/* ======  CSS variables  ====== */
:root {
  --dark-background-colour: #C1C1C1;
  --light-background-colour: #F5F5F5;
  --style-box-background-colour: #FFFFFF;
  --min-page-width: 700px;
}

/* ======  General formatting options  ====== */
html, body {
  height: 100%;
  margin: 0px;
}
body {
  font-size: 100%;  /* Needed for IE. */
}
p, h1, h2, h3, li, table, button, label, span {
  color: black;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
}
p {
  margin: 12px auto 10px auto;
}
h1 {
  font-size: 2.5em;
  color: #212121;
  margin: 0px;
}
h2 {
  font-size: 1.2em;
  color: #212121;
  margin: 0px;
  padding: 5px;
  width: 100%;
}
h3 {
  font-size: 1.0em;
  text-decoration: underline;
  margin: 16px auto 0px auto;
}
p, li, table, label {
  font-size: 1.0em;
}
ul {
    list-style: none;
}
button {
  font-size: 0.9em;
  margin: 2px auto 5px auto;
  text-align: center;
}
label {
  margin-right: 15px;
}

/* ======  The basic layout, header, navigation bar, and footer  ====== */
#headerDiv {
  background-color: var(--dark-background-colour);
  width: 100%;
  min-width: var(--min-page-width);
  margin: 0px;
  padding: 0px;
  text-align: center;
  box-shadow: 1px 1px 2px #555555;
}
#headerInnerDiv {
  display: inline-block;
  margin: 10px auto 10px auto;
}
#bodyMainDiv {
  padding: 5px;
}
#footerDiv {
  background-color: var(--light-background-colour);
  width: 100%;
  min-width: var(--min-page-width);
  margin: 0px 0px 5px 0px;
  padding: 10px 0px;
}
#footerDiv p {
  text-align: center;
}
.clearfix {
  clear: both;
}

/* ======  Main styled div  ====== */
.style-box {
  display: inline-block;
  vertical-align: top;
  background-color: var(--style-box-background-colour);
  border: 1px solid #000000;
  box-shadow: 1px 1px 2px #555555;
  margin: 5px 5px 5px 5px;
  padding: 5px;
  position: relative;
}
.style-box p {
  margin: 5px;
}
.style-box h2 {
  margin: 10px 0px 2px 0px;
}
.style-box > *:not(svg):not(p):not(h2):not(h3) {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* ======  Tree view controls  ====== */
#treeControlsDiv {
  position: absolute;
  top: 10px;
  right: 15px;
  margin-top: 0.5px; /*Helps center text and icons in buttons*/
  text-align: right;
  border: 0px solid #000000;
  padding: 0px;
}
#varSearchHitsText {
  margin: 0px;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle; /*Needed for chrome*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
#varSearchButton {
  background-color: var(--light-background-colour);
}
#varSearchInput {
  height: 23px; /*Needs to be 2*border-width smaller than the button.*/
  background-color: #ffffff;
  text-align: left;
}
#clearVarSearchButton { /*why did I use a class for this? why not ID? get working then test.*/
  width: 20px;
	height: 21px;
  position: absolute;
  right: 3px;
  top: 5px;
  margin: 0px;
	padding: 0px;
  z-index: 1;
  display: inline-block;
  border:1px solid transparent;
  border-radius: 50%;
  outline: 0;
  background-color: var(--light-background-colour);
	text-align: center;
	font-weight: normal;
	font-size: 12px;
  color: white;
	cursor: pointer;
}
#clearVarSearchButton > * { /*Applies to icon, text, whatever I use in the button*/
  margin: auto;
}
#varSearchInput[value=""] ~ #clearVarSearchButton {
  display: none;
}
.control-element {
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle; /*Needed for chrome*/
  margin: 3px 0px;
  padding: 0px 5px;
  height: 25px;
  min-width: 25px;
  border: 1px solid #000000;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: normal;
}
.control-pair-left {
  border-right: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.control-pair-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.control-element::-moz-focus-inner {
  border: 0;
}

/* ======  Other common style classes  ====== */
.param-spinner {
  width: 21px;
}
