/* ======  CSS variables  ====== */
:root {
  --dark-background-colour: #C1C1C1;
  --light-background-colour: #F5F5F5;
  --style-box-background-colour: #FFFFFF;
  --font-family: Helvetica, Arial, sans-serif;
  --min-page-width: 700px;
  --tree-width: 700px;
  --control-element-vert-margin: 3px;
}

/* ======  General formatting options  ====== */
html, body {
  height: 100%;
  margin: 0px;
}
body {
  font-size: 100%;  /* Needed for IE. */
}
p, h1, h2, h3, li, table, button, label, span {
  color: black;
  text-align: left;
  font-family: var(--font-family);
}
p {
  margin: 12px auto 10px auto;
}
h1 {
  font-size: 2.5em;
  color: #212121;
  margin: 0px;
}
h2 {
  font-size: 1.2em;
  color: #212121;
  margin: 0px;
  padding: 5px;
  width: 100%;
}
h3 {
  font-size: 1.0em;
  text-decoration: underline;
  margin: 16px auto 0px auto;
}
p, li, table, label {
  font-size: 1.0em;
}
table {
  border: none;
  border-collapse: collapse;
}
ul {
  list-style: none;
  padding: 0px;
}
button {
  margin: 2px auto 5px auto;
}
label {
  margin-right: 15px;
}
span {
  text-align: center;
}

/* Possible that these could break with future jQueryUI updates.*/
.ui-button-text {
  font-size: 0.9em;
  text-align: center;
  padding: 0.3em 0.6em !important;
}
.ui-selectmenu-text {
  font-size: 0.9em;
  padding: 0.2em 1.7em 0.2em 0.6em !important;
}

/* ======  The basic layout, header, navigation bar, and footer  ====== */
#headerDiv {
  background-color: var(--dark-background-colour);
  width: 100%;
  min-width: var(--min-page-width);
  margin: 0px;
  padding: 0px;
  text-align: center;
  box-shadow: 1px 1px 2px #555555;
}
#headerInnerDiv {
  display: inline-block;
  margin: 10px auto 10px auto;
}
#bodyMainDiv {
  padding: 5px;
}
#mainTreeDiv {
  width: var(--tree-width);
  height: calc(var(--tree-width) + 44px); /*The 44px comes from the total height of an h2 element.*/
}
#footerDiv {
  background-color: var(--light-background-colour);
  width: 100%;
  min-width: var(--min-page-width);
  margin: 0px 0px 5px 0px;
  padding: 10px 0px;
}
#footerDiv p {
  text-align: center;
}
.clearfix {
  clear: both;
}

/* ======  Main styled div  ====== */
.style-box {
  display: inline-block;
  vertical-align: top;
  background-color: var(--style-box-background-colour);
  border: 1px solid #000000;
  box-shadow: 1px 1px 2px #555555;
  margin: 5px 5px 5px 5px;
  padding: 5px;
  position: relative;
}
.style-box p {
  margin: 5px;
}
.style-box h2 {
  margin: 10px 0px 2px 0px;
}
.style-box > *:not(svg):not(p):not(h2):not(h3) {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* ======  Tree view controls  ====== */
#treeControlsDiv {
  position: absolute;
  top: 10px;
  right: 15px;
  margin-top: 0.5px; /*Helps center text and icons in buttons*/
  text-align: right;
  border: 0px solid #000000;
  padding: 0px;
}
#searchToSelectButton {
  line-height: 9px;
  font-size: 10px;
}
#varSearchHitsText {
  margin: 0px;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle; /*Needed for chrome*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
#varSearchButton:not(:active), #clearVarSearchButton:not(:active) {
  background-color: var(--light-background-colour);
}
#varSearchInput {
  height: 23px; /*Needs to be 2*border-width smaller than the button.*/
  background-color: #ffffff;
  text-align: left;
}
#clearVarSearchButton {
  width: 20px;
	height: 21px;
  position: absolute;
  right: 3px;
  top: 5px;
  margin: 0px;
	padding: 0px;
  z-index: 1;
  display: inline-block;
  border:1px solid transparent;
  border-radius: 50%;
  outline: 0;
	text-align: center;
	font-weight: normal;
	font-size: 12px;
  color: white;
	cursor: pointer;
}
#clearVarSearchButton > * { /*Applies to icon, text, whatever I use in the button*/
  margin: auto;
}
#varSearchInput[value=""] ~ #clearVarSearchButton {
  display: none;
}
#scrollZoomButton {
  line-height: 9px;
}
#scrollZoomText {
  display: table-cell;
  vertical-align: middle;
  font-family: var(--font-family);
  font-size: 10px;
}
#scrollZoomStatus {
  display: table-cell;
  vertical-align: middle;
  padding-left: 3px;
  width: 22px;
}
.control-element {
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle; /*Needed for chrome*/
  margin: var(--control-element-vert-margin) 0px;
  padding: 0px 5px;
  height: 25px;
  min-width: 25px;
  border: 1px solid #000000;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: normal;
  outline: none;
}
.control-pair-left {
  border-right: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.control-pair-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.control-element::-moz-focus-inner {
  border: 0;
}
button.control-element:active, #clearVarSearchButton:active {
  background-color: var(--dark-background-colour);
}

/* ======  Other common style classes  ====== */
.param-spinner {
  width: 21px;
}
/*table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {*/
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
  content: " \25B4\25BE"
}
table.sortable th.sorttable_sorted:after {
  content: "\25B4"
}
table.sortable th.sorttable_sorted_reverse:after {
  content: "\25BE"
}
