#bodyMainDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
#mainLeftDiv {
  display: inline-flex;
  flex-direction: column;
  --left-col-width: 250px;
}
#inputOptionsDiv, #runOptionsDiv, #resultsLinksDiv {
  width: var(--left-col-width);
}
#mainVariantSelectDiv {
  min-width: 280px;/* 400px;*/
  margin-right: 0px;
}

/* Run options: */
.toggle-button-container {
  /* To use, the input elements of a group must all share the same name property.*/
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 0px;
  box-sizing: border-box; /* Needed if I want to add horizontal padding.*/
  --toggle-button-border-radius: 3px;
  -webkit-touch-callout: none; /* Prevents the text from being selected on iOS Safari, */
    -webkit-user-select: none; /* Safari, */
     -khtml-user-select: none; /* Konqueror HTML, */
       -moz-user-select: none; /* Firefox, */
        -ms-user-select: none; /* Internet Explorer/Edge, */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.toggle-button-input {
  display: none;
}
.toggle-button-label {
  flex-grow: 1;
  line-height: 25px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: black;
  border: 1px solid #8A8A8A;
  background: linear-gradient(#FAFAFA, #DCDCDC);
  box-shadow: inset 2px 2px 4px rgba(255,255,255,.3), inset -2px -2px 4px rgba(201,201,201,.5);
}
.toggle-button-label-left {
  border-top-left-radius: var(--toggle-button-border-radius);
  border-bottom-left-radius: var(--toggle-button-border-radius);
  box-shadow: inset 4px 4px 4px rgba(255,255,255,.3), inset -2px -4px 4px rgba(201,201,201,.5);
}
.toggle-button-label-right {
  border-top-right-radius: var(--toggle-button-border-radius);
  border-bottom-right-radius: var(--toggle-button-border-radius);
  box-shadow: inset 2px 4px 4px rgba(255,255,255,.3), inset -4px -4px 4px rgba(201,201,201,.5);
}
.toggle-button-label-left.toggle-button-label-right {
  box-shadow: inset 2px 4px 4px rgba(255,255,255,.3), inset -2px -4px 4px rgba(201,201,201,.5);
}
.toggle-button-label:hover {
  border-color: #4F4F4F;
}
.toggle-button-label:active, .toggle-button-input:checked + .toggle-button-label {
  /* The "pushed-in" look for the selected and active button states.*/
  background: linear-gradient(#DCDCDC, #FAFAFA);
  box-shadow: inset -4px -4px 4px rgba(255,255,255,.3), inset 4px 4px 4px rgba(201,201,201,.5);
}
#clustMethodSelect {
  width: 110px;
}
#findVariantsButton {
  width: 100%;
}
#findVariantsButton > span {
  font-size: 1.0em;
}

/* Variant assignment and selection settings: */
#topVariantSelectDiv {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0px;
}
#varAssignTable {
  margin-right: 15px;/* 15px; but I want it to be 0 if parent div wraps*/
  margin-bottom: 10px;
}
#selectedVariantsDiv {
  display: inline-block;
  margin-bottom: 10px;
  min-width: 218px;
}
#variantSelectHr {
  margin-top: 0px;
  margin-bottom: 10px;
}
.var-assigned-div { /* Box containing holding "2 chosen variants" and clear button */
  display: inline-block;
  margin: 0px 5px 0px 0px;
  padding: 2px 2px 2px 4px;
  border: 2px solid red;
  border-style: hidden hidden solid solid;
  /*border-bottom-left-radius: 5% 25%; /* Rounded slash or not? */
}
.var-assigned-label { /* The "2 chosen variants" text.*/
  margin: 0px 5px 0px 0px;
}
.var-assigned-clear { /* The clear button.*/
  --clear-button-size: 19px;
  display: inline-block;
  opacity: 0.1;
  width: var(--clear-button-size);
  height: var(--clear-button-size);
  margin: 0px;
  padding: 0px;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 1.0em;
  text-align: center;
  line-height: var(--clear-button-size);
}
.var-assigned-div:hover .var-assigned-clear { /* Becomes more opaque when mouseover parent div.*/
  opacity: 0.4;
}
.var-assigned-div .var-assigned-clear:hover { /* Final form when mouseover directly.*/
  opacity: 1.0;
  color: red;
  background: white;
  border-color: black;
}
.var-select-label { /* Element for each variant in the tree.*/
  display: inline-block;
  margin: 2px 4px 2px 0px;
  padding: 3px;
  border: 2px solid red;
  border-style: hidden hidden solid solid;
  /*border-bottom-left-radius: 5% 25%; /* Rounded slash or not? */
  font-size: 12px;
}

/* Result links pane settings: */
#resultsLinksList {
  list-style-type: disc;
  padding-left: 20px;
}

/* Score graph settings: */
#scoreGraphSvg {
  width: var(--left-col-width);
  height: 150px;
}
.score-axis-label {
  font-family: var(--font-family);
  font-size: 14px;
}
.score-line {
  fill: none;
  stroke: var(--dark-background-colour);
  stroke-width: 2px;
}

/* Various element settings */
