#bodyMainDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
#mainLeftDiv {
  display: inline-flex;
  flex-direction: column;
  --left-col-width: 250px;
}
#inputOptionsDiv, #runOptionsDiv, #resultsLinksDiv {
  width: var(--left-col-width);
}
#mainVariantSelectDiv {
  min-width: 280px;/* 400px;*/
  margin-right: 0px;
}

/* Run options: */
.toggle-button-container {
  /* To use, the input elements of a group must all share the same name property.*/
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin: 5px 0px;
  padding: 0px;
  box-sizing: border-box; /* Needed if I want to add horizontal padding.*/
  --toggle-button-border-radius: 3px;
  -webkit-touch-callout: none; /* Prevents the text from being selected on iOS Safari, */
    -webkit-user-select: none; /* Safari, */
     -khtml-user-select: none; /* Konqueror HTML, */
       -moz-user-select: none; /* Firefox, */
        -ms-user-select: none; /* Internet Explorer/Edge, */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.toggle-button-input {
  display: none;
}
.toggle-button-label {
  flex-grow: 1;
  line-height: 25px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: black;
  border: 1px solid var(--button-border-colour);
  background: linear-gradient(#FAFAFA, #DCDCDC);
  box-shadow: inset 2px 2px 4px rgba(255,255,255,.3), inset -2px -2px 4px rgba(201,201,201,.5);
}
.toggle-button-label-left {
  border-top-left-radius: var(--toggle-button-border-radius);
  border-bottom-left-radius: var(--toggle-button-border-radius);
  box-shadow: inset 4px 4px 4px rgba(255,255,255,.3), inset -2px -4px 4px rgba(201,201,201,.5);
}
.toggle-button-label-right {
  border-top-right-radius: var(--toggle-button-border-radius);
  border-bottom-right-radius: var(--toggle-button-border-radius);
  box-shadow: inset 2px 4px 4px rgba(255,255,255,.3), inset -4px -4px 4px rgba(201,201,201,.5);
}
.toggle-button-label-left.toggle-button-label-right {
  box-shadow: inset 2px 4px 4px rgba(255,255,255,.3), inset -2px -4px 4px rgba(201,201,201,.5);
}
.toggle-button-label:hover {
  border-color: #4F4F4F;
}
.toggle-button-label:active, .toggle-button-input:checked + .toggle-button-label {
  /* The "pushed-in" look for the selected and active button states.*/
  background: linear-gradient(#DCDCDC, #FAFAFA);
  box-shadow: inset -4px -4px 4px rgba(255,255,255,.3), inset 4px 4px 4px rgba(201,201,201,.5);
}
#clustMethodSelect {
  width: 110px;
}
#findVariantsButton {
  width: 100%;
}
#findVariantsButton > span {
  font-size: 1.0em;
}

/* Variant assignment and selection settings: */
#varAssignTableDiv {
  float: left;
  margin: 0px 15px 10px 0px;
  padding: 0px 10px 10px 0px;
  border: 1px solid var(--button-border-colour);
  border-top-style: none;
  border-left-style: none;
}
#varSelectHeader {
  display: inline-block;
  margin: 0px 0px 5px 0px;
  font-size: 1.2em;
}
.var-assigned-div { /* Box containing holding "2 chosen variants" and clear button.*/
  --var-assigned-border-width: 2px;
  position: relative;
  display: inline-block;
  white-space: nowrap; /* Ensures everything stays on 1 line.*/
  margin: 0px 5px 0px 0px;
  padding: 2px 2px 2px 4px;
  background-color: transparent;
  border: var(--var-assigned-border-width) solid red;
  border-style: hidden hidden solid solid;
  z-index: 0;
}
.var-assigned-div:before { /* The mouseover animation element.*/
  content: '';
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background-color: #92F7E4;
  z-index: -2;
  transition: all var(--cubic-transition);
}
.var-assigned-div:hover:before {
  right: auto;
  width: 100%;
}
.var-assigned-div:after { /* The selected animation element.*/
  content: '';
  position: absolute;
  display: block;
  bottom: 0px;
  left: 0px;
  width: calc(100% - var(--var-assigned-border-width));
  height: 0px;
  background-color: #FAB728;
  z-index: -1;
  transition: all var(--cubic-transition);
}
.var-assigned-div.var-assigned-selected:after {
  top: auto;
  height: calc(100% - var(--var-assigned-border-width));
}
.var-assigned-div.var-assigned-selected { /* Part of the mouseover+selected effect. */
  background-color: #FAB728;
}
.var-assigned-label { /* The "2 chosen variants" text.*/
  position: relative;
  margin: 0px 5px 0px 0px;
  vertical-align: middle;
}
.var-assigned-clear { /* The clear button.*/
  --clear-button-size: 19px;
  position: relative;
  display: inline-block;
  width: var(--clear-button-size);
  height: var(--clear-button-size);
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: all var(--cubic-transition);
}
.var-assigned-clear-span1, .var-assigned-clear-span2 {
  position: absolute;
  top: 8px;
  left: 3px;
  width: 13px;
  height: 3px;
  background-color: #DFDFDF;
  transition: .2s all;
}
.var-assigned-clear-span1 {
  transform: rotate(-45deg);
}
.var-assigned-clear-span2 {
  /*Using rotate(45deg) makes the animation appear to flatten; -135deg makes it rapidly rotate.*/
  transform: rotate(45deg);
}
.var-assigned-div:hover .var-assigned-clear > span {
  background-color: #757575;
}
.var-assigned-div .var-assigned-clear:hover { /* Final form when mouseover directly.*/
  background: white;
  border-color: var(--button-border-hover-colour);
}
.var-assigned-div .var-assigned-clear:hover > span {
  background-color: red;
  transform: rotate(0deg);
}
.var-select-label { /* Element for each variant in the tree.*/
  display: inline-block;
  margin: 2px 4px 2px 0px;
  padding: 3px;
  border: 2px solid red;
  border-style: hidden hidden solid solid;
  /*border-bottom-left-radius: 5% 25%; /* Rounded slash or not? */
  font-size: 12px;
}

/* Result links pane settings: */
#resultsLinksList {
  list-style-type: disc;
  padding-left: 20px;
}

/* Score graph settings: */
#scoreGraphSvg {
  width: var(--left-col-width);
  height: 150px;
}
.score-axis-label {
  font-family: var(--font-family);
  font-size: 14px;
}
.score-line {
  fill: none;
  stroke: var(--dark-background-colour);
  stroke-width: 2px;
}

/* Various element settings */
