#bodyMainDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
#mainLeftDiv {
  display: inline-flex;
  flex-direction: column;
}
#summaryStatsDiv, #clustersListDiv {
  max-width: 400px;
}

/* Histogram settings: */
#histoSvg {
  height: 135px;
  margin: 0px 0px 0px 0px;
}
.histo-title {
  fill: #000;
  font: 16px var(--font-family);
  font-weight: bold;
}
.histo-bar {
  fill: #5DE71D;
}
.histo-text {
  fill: #000;
  font: 10px sans-serif;
}
#histoSlider {
  margin-right: 13px;
  margin-left: 10px;
}

/* Various element settings: */
.results-table {
  text-align: center;
  width: 100%;
}
.results-table > thead {
  vertical-align: bottom;
}
.results-table td {
  padding: 2px 23px;
}
.results-table td:nth-child(1) {
  text-align: right;
  padding: 1px 5px 1px 1px;
}
