#bodyMainDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
#mainLeftDiv {
  display: inline-flex;
  flex-direction: column;
}
#selectionDiv, #clustersListDiv {
  width: 400px;
}
#summaryStatsDiv, #exportDataDiv {
  width: 350px;
}

/* Selection pane settings: */


/* Histogram settings: */
#histoSvg {
  height: 135px;
  margin: 0px 0px 0px 0px;
}
.histo-title {
  fill: #000;
  font: 16px var(--font-family);
  font-weight: bold;
}
.histo-bar {
  fill: #5DE71D;
}
.histo-text {
  fill: #000;
  font: 10px sans-serif;
}
#histoSlider {
  margin-right: 18px;
  margin-left: 16px;
}
#histoSliderHandle {
  width: 3em;
  height: 1.5em;
  top: 50%;
  margin-top: -0.75em;
  margin-left: -1.5em;
  text-align: center;
  line-height: 1.6em;
  font-size: 12px;
}
#histoButtonsDiv {
  --button-width: 55px;
  --button-height: 25px;
  width: 100%;
  height: calc(var(--button-height) + var(--control-element-vert-margin) * 2);
}
#leftSliderButton, #middleSliderButton, #rightSliderButton {
  width: var(--button-width);
  height: var(--button-height);
  line-height: 9px;
  font-size: 10px;
  position: absolute;
  text-align: center;
}
#leftSliderButton {
  left: 10px;
  font-size: 12px;
}
#middleSliderButton {
  left: calc(50% - var(--button-width) / 2);
}
#rightSliderButton {
  right: 10px;
}
#middleSliderButton text, #rightSliderButton text {
  /*vertical-align: middle;*/
  font-size: 9px;
}

/* Various element settings: */
.results-table {
  text-align: center;
  width: 100%;
}
.results-table > thead {
  vertical-align: bottom;
}
.results-table td {
  padding: 2px 23px;
}
.results-table td:nth-child(1) {
  text-align: right;
  padding: 1px 5px 1px 1px;
}
